body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  font-size: 14;
  color: white;
  /* need this to avoid bomb drag glich later so we do not accidentally select the text  */
  user-select: none;
  -webkit-user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#info-left {
  position: absolute;
  top: 20px;
  left: 25px;
}
#info-right {
  position: absolute;
  top: 20px;
  right: 25px;
  text-align: right;
}
#bomb-grab-area {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: invisible;
  cursor: grab;
}
