@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Inconsolata", monospace;
  font-size: 14px;
  color: white;
  user-select: none;
  -webkit-user-select: none;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

button {
}
button:hover {
}

#info-left,
#info-right {
  position: absolute;
  top: 20px;
}
#info-left {
  left: 25px;
}

#info-right {
  right: 25px;
  text-align: right;
}
#bomb-grab-area {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  cursor: grab;
}
#instructions,
#congratulations {
  position: absolute;
  transition: visibility 0s, opacity 0.5s linear;
}
@media (min-height: 535px) {
  #instructions {
    min-height: 200px;
  }
}
#congratulations {
}
#congratulations p a {
}
#congratulations button {
}

#settings {
  position: absolute;
  top: calc(20px + 16.385px- 10px);
  display: flex;
  align-items: center;
  gap: 10px;
  right: 11em;
}
#windmill {
  position: absolute;
  right: 0;
  fill: rgba(225, 225, 225, 0.5);
  transform-origin: bottom;
}
#windmill-head {
  animation-name: rotate;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: li;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#wind-info {
  position: absolute;
  width: 100px;
  text-align: center;
  margin-bottom: 30px;
}
